@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inconsolata, monospace;
  }

  :root {
    --color-bg: #f7f7f7;
    --color-text: #111111;
    --color-accent: #43807A;
  }

  .dark {
    --color-bg: #1e1e1e;
    --color-text: #f1f1f1;
    --color-accent: #ff6b6b;
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}
